/* ==========================================================================
   Custom CSS 
   ========================================================================== */
   
p {
  padding-bottom : 0.5rem;
}

div .view{
    padding: 1em;
    margin: 1em;
    border: 3px solid #eee;
}
